
img {
    height: 190px;
    width: auto;
}

.main-fav{
    padding:10px 10px 10px 20px;
    margin-left:230px;
    margin-top: 90px;
    /* display: flex; */
    border: 1px solid rgba(133, 132, 133, 0.4);
    border-radius: 15px;
    border-right: none;
    height: 490px;
    border-left: none;
    background-color: black;

    overflow-y: auto;
    overflow-x: auto;
    /* box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4); */
}

.grid-fav {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 10px;
}

.favorite-card {
    background-color: rgb(58, 55, 55);
    text-align: center;
    color: rgb(177, 177, 177);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

img {
    height: 200px;
    width: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

h1{
    color: gainsboro;
}

h3 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.delete-btn {
    margin: 10px 0px;
    width: 90px;
    height: 30px;
    background-color: rgb(39, 37, 37);
    font-family:serif;
    font-size: 15px;
    font-weight: 700;
    border-radius: 12px;
    border: none;
    color: rgb(219, 219, 219);
    
}

.delete-btn:hover {
    cursor: pointer;
    background-color: rgb(73, 69, 69);
}