.gallery{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:30px;

}


.card{

    width:450px;

    padding:15px;

    border-radius:20px;

    background:rgba(0, 0, 0, 0.3);

    backdrop-filter:blur(10px);

}


.card img{

    width:100%;
    border-radius:15px;

}
.card img:hover{
    transform:scale(1.03);
    transition: .3s;
}

body{

background:#d6d6d6;

text-align:center;
}

h3 {
    font-size: 25px;
    color:black;
}

h1 {
    font-size: 50px;
    margin-bottom: 70px;
    background: linear-gradient(90deg, #000000, #006dc7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 20px;
    font-family: serif;
}
