body{
    background-image: url("imgdark.png");
    background-size: contain;
    color: white;
}

.conatiner {
    display: flex;
    min-height: 90vh;
}

.sidebar{
    padding:20px;
    padding-left: 2px;
    display:flex;
    flex-direction:column;
    gap:5px;
    position:absolute;
    left:5px;
    top:90px;
    width:240px;
    height:550px;
    border: 1px solid rgba(189, 133, 189, 0.4);
    border-radius: 15px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.4);

}

.sidebar a,
.sidebar form{
    color:rgb(219, 219, 219);
    text-decoration:none;
    padding:14px 18px;
    border-radius:10px;
    transition:.3s;
    background: transparent;
    display: block;
}

.sidebar a:hover,
.sidebar form:hover{
    background:linear-gradient(45deg,  black, rgb(82, 11, 76), rgb(121, 17, 112));
    color:white;
}

.add-fav {
    background: transparent;
    border: none;
    cursor: pointer;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 0px;
}



.main-content{
    padding:10px 10px 10px 20px;
    margin-left:265px;
    margin-top: 90px;
    display: flex;
    border: 1px solid rgba(189, 133, 189, 0.4);
    border-radius: 15px;
    height: 400px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4);
}

#media {
    border-radius: 25px;
    height: 400px;
    object-fit: cover;
    border: none;
}
#media:hover{
    transition:.3s;
    transform: scale(1.01);
    cursor: pointer;
}

.p2 {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: gray;
}

.main1 {
    padding-right: 20px;
}
.pic-name {
    margin: 0;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
}

.p1 {
    display: flex;
    background-color: rgba(214, 211, 211, 0.2);
    width: 120px;
    height: 35px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgba(214, 180, 214, 0.3);
    border-radius: 10px;
}
.p{
    display: flex;
    align-items: center;
    gap: 10px;
}
.add-fav-main {
    border: 1px solid rgba(214, 180, 214, 0.3);
    height: 36px;
    color:rgb(219, 219, 219);
    text-decoration:none;
    border-radius:10px;
    background:linear-gradient(45deg, black, black, rgb(61, 8, 57), rgb(121, 17, 112));
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}



.top-box {
    padding:15px;
    padding-top: 10px;
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:130px;
    position:absolute;
    left:5px;
    right:0;
    top:5px;
    position: absolute;
    right: 5px;
    color: white;
    height: 55px;
    border: 1px solid rgba(189, 133, 189, 0.4);
    border-radius: 15px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.4);
}

.top-box p {
    margin: 5px 28px;
    font-size: 13px;
    color: rgb(199, 201, 201);
}

.app-name {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    background: linear-gradient(135deg, #a100b6, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Search_bar {
    width: 450px;
    height: 39px;
    background-image: url("imgdark.png");
    background-size: cover;
    border: 1px solid rgba(189, 133, 189, 0.4);
    border-radius: 30px;
    font-size: 17px;
    font-family:serif;
    color:white;
    padding-left: 10px;
}

.Search {
    width:37px;
    height: 37px;
    border-radius:50%;
    font-size: 15px;
    color: white;
    background-color: #323442;
    border: 1px solid #323442;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 8%;
}

.search-box {
    position: relative;
}

.date {
    height: 37px;
    width: 140px;
    background-image: url("imgdark.png");
    background-size: cover;
    border: 1px solid rgba(189, 133, 189, 0.4);
    border-radius: 13px;
    font-size: 17px;
    color: #919092;
    font-family: sans-serif;
    cursor: pointer;
    padding-left: 10px;
}


.find {
    height: 37px;
    width: 120px;
    margin-left: 5px;
    font-size: 17px;
    background:linear-gradient(45deg,black, rgb(134, 16, 119), rgb(121, 17, 112));
    border-radius: 13px;
    cursor: pointer;
    color:rgb(219, 219, 219);
    text-decoration:none;
    border: none;
    transition:.3s;
    font-family: 'Times New Roman', Times, serif;
}

.find:hover{
    transform: scale(1.05);
}



.fact {
    position: absolute;
    right: 5px;
    height: 150px;
    width: 395px;
    border: 1px solid rgba(189, 133, 189, 0.4);
    border-radius: 15px;
    margin-left: 10px;
    padding:  0px 20px;
    top: 520px;
    background-image: url('fact2.jpg');
    background-size: cover;
}

.fact h4 {
    font-size: 22px;
    margin: 20px 0px;
    color: rgb(199, 199, 199);
}

.fact p {
    font-size: 18px;
    color: rgb(218, 218, 218);
}

.lwr-butt{
    display: flex;
    gap: 0px;
    height: 150px;
    width: 620px;
    border: 1px solid rgba(189, 133, 189, 0.4);
    border-radius: 15px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 520px;
    left: 275px;
    align-items: center;
    background-image: url('btnn.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.lwr-butt a{
    text-decoration:none;
}

.lwr-random {
    width: 140px;
    height: 100px;
    border: 1px solid rgba(189, 133, 189, 0.4);
    margin: 10px 0px 5px 10px;
    border-radius: 10px;
    background:linear-gradient(45deg, black, black, rgb(61, 8, 57), rgb(121, 17, 112));
}

.lwr-random h6 {
    color: #ffffff;
    font-size: 15px;
    margin: 15px 10px;
}

.lwr-random p {
    margin: 15px 5px;
    color:rgb(163, 163, 163) ;
    padding-left: 3px;
}

.lwr-glry {
    width: 140px;
    height: 100px;
    border: 1px solid rgba(189, 133, 189, 0.4);
    margin: 10px 0px 5px 10px;
    border-radius: 10px;
    background:linear-gradient(45deg, black, black, rgb(61, 8, 57), rgb(121, 17, 112));
}

.lwr-glry h6 {
    color: #ffffff;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.lwr-glry p {
    margin: 15px 5px;
    color:rgb(163, 163, 163);
    padding-left: 3px;
}

.lwr-fav {
    width: 140px;
    height: 100px;
    border: 1px solid rgba(189, 133, 189, 0.4);
    margin: 10px 0px 5px 10px;
    border-radius: 10px;
    background:linear-gradient(45deg, black, black, rgb(61, 8, 57), rgb(121, 17, 112));
}

.lwr-fav h6 {
    color: #ffffff;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.lwr-fav p {
    margin: 15px 5px;
    color:rgb(163, 163, 163);
    padding-left: 3px;
}

.lwr-dlt {
    width: 140px;
    height: 100px;
    border: 1px solid rgba(189, 133, 189, 0.4);
    margin: 10px 0px 5px 10px;
    border-radius: 10px;
    background:linear-gradient(45deg, black, black, rgb(61, 8, 57), rgb(121, 17, 112));
}

.lwr-dlt h6 {
    color: #ffffff;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.lwr-dlt p {
    margin: 15px 5px;
    color:rgb(163, 163, 163);
    padding-left: 3px;
}

.lwr-dlt:hover{
    transition:.3s;
    transform: scale(1.03);
}
.lwr-random:hover{
    transition:.3s;
    transform: scale(1.03);
}
.lwr-glry:hover{
    transition:.3s;
    transform: scale(1.03);
}
.lwr-fav:hover{
    transition:.3s;
    transform: scale(1.03);
}

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.9);
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.modal img{
    max-width:90%;
    max-height:90%;
    border-radius:15px;
}

.close{
    position:absolute;
    top:20px;
    right:40px;
    font-size:45px;
    color:white;
    cursor:pointer;
}
