body{
    background-image: url("imgdark.png");
    background-size: contain;
    color: white;
}

.conatiner {
    display: flex;
    min-height: 90vh;
}

.sidebar{

    /* background:linear-gradient(135deg,  #17153B, #2E236C, 433D8B); */
    /* box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.2); */

    padding:20px;

    padding-left: 2px;

    display:flex;

    flex-direction:column;

    gap:5px;

    position:absolute;

    left:5px;

    top:90px;
    /* bottom: 100px; */
    width:240px;

    height:611px;

    border: 1px solid rgba(189, 133, 189, 0.4);

    border-radius: 15px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.3);

}

.sidebar a,
.sidebar form{

    color:rgb(219, 219, 219);

    text-decoration:none;

    padding:14px 18px;

    border-radius:10px;

    transition:.3s;

    background: transparent;

    display: block;


}

.sidebar a:hover,
.sidebar form:hover{

    background:linear-gradient(90deg, rgb(116, 24, 158), #3f145c);

    color:white;


}

.add-fav {
    background: transparent;

    border: none;

    cursor: pointer;

    color:white;

    font-family: 'Times New Roman', Times, serif;

    font-size: 16px;

    padding: 0px;

}



.main-content{

    /* flex:1; */

    padding:10px 10px 10px 20px;
    /* padding-left: 20px; */

    margin-left:265px;

    margin-top: 90px;


    display: flex;

    
    /* margin-right: 90px; */

    border: 1px solid rgba(189, 133, 189, 0.4);

    border-radius: 15px;

    height: 400px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.3);

/* background:linear-gradient(135deg,  #5B8FB9, #301E67, #03001C);    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.2); */


}

.media {
    /* width: 600px; */
    border-radius: 25px;
    height: 400px;
    object-fit: cover;
    border: none;
    box-shadow: 0 10px 30px rgba(172, 172, 172, 0.3);
}

.p2 {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: gray;
}

.main1 {
    padding-right: 20px;
}
.pic-name {
    margin: 0;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
}

.p1 {
    display: flex;
    background-color: rgba(214, 211, 211, 0.2);
    width: 120px;
    height: 35px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgba(214, 180, 214, 0.3);
    border-radius: 10px;
}
.p{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
}
.add-fav-main {
    border: 1px solid rgba(214, 180, 214, 0.3);
    height: 36px;
    color:rgb(219, 219, 219);

    text-decoration:none;

    /* padding:5px; */

    border-radius:10px;

    background:linear-gradient(90deg, rgb(116, 24, 158), #3f145c);

    /* border: none; */

    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;

    /* margin-top: 20px; */
}



.top-box {
/* background:linear-gradient(135deg,  #5B8FB9, #301E67, #03001C);
 box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.2); */
    padding:15px;
    padding-top: 10px;
    display:flex;

    flex-direction:row;

    align-items: center;

    gap:130px;

    position:absolute;

    left:5px;

    right:0;

    top:5px;

    

    color: white;
    height: 55px;
    border: 1px solid rgba(189, 133, 189, 0.4);
    border-radius: 15px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.3);
}

.top-box p {
    margin: 5px 28px;
    font-size: 13px;
    color: rgb(199, 201, 201);
}

.app-name {
    font-size: 30px;
    font-weight: 700;
    margin: 0;

    background: linear-gradient(135deg, #a100b6, #ffffff);

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    
}

.Search_bar {
    width: 450px;
    height: 39px;
    background-image: url("imgdark.png");
    background-size: cover;
    /* box-shadow: inset 0 0 15px rgba(131, 130, 130, 0.2); */
    border: 1px solid rgba(189, 133, 189, 0.4);
    border-radius: 30px;
    font-size: 17px;
    font-family:serif;
    color:white;
    padding-left: 10px;
}

.Search {
    width:37px;
    height: 37px;
    border-radius:50%;
    font-size: 15px;
    color: white;
    background-color: #323442;
    border: 1px solid #323442;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 8%;
}

.search-box {
    position: relative;
}

.date {
    height: 37px;
    width: 140px;
    background-image: url("imgdark.png");
    background-size: cover;
    border: 1px solid rgba(189, 133, 189, 0.4);
    border-radius: 13px;
    font-size: 17px;
    color: #919092;
    font-family: sans-serif;
    cursor: pointer;
    padding-left: 10px;
}


.find {
    height: 37px;
    width: 120px;
    margin-left: 5px;
    font-size: 17px;
    /* color: white; */
    background:linear-gradient(90deg, rgb(145, 32, 197), #481769);
    border-radius: 13px;
    cursor: pointer;

    color:rgb(219, 219, 219);

    text-decoration:none;

    border: none;

    transition:.3s;

    font-family: 'Times New Roman', Times, serif;

}

.find:hover{
    /* background-color: #00bcd4; */
    transform: scale(1.05);
}

.lower-box {
    margin-left:265px;
    margin-top: 2px;
    /* background:linear-gradient(135deg,  #5B8FB9, #301E67, #03001C); */
    border: 1px solid rgba(189, 133, 189, 0.4);
    border-radius: 15px;
    height: 229px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.3);
}