body {
    margin: 0;
    padding: 0;
    /* background-image: url("img.jpg"); */
    /* background-position: center; */
    /* background-size: cover;
    background-repeat: no-repeat; */
    background:
        linear-gradient(rgba(0,0,0,0.3),
                        rgba(0,0,0,0.3)),
        url("img.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    color: rgb(255, 255, 255);
    
}


.app_name {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    /* color: #00E5FF;
    text-shadow: 0 0 15px #00E5FF; */
    /* color: #B388FF;
    text-shadow: 0 0 15px #1eff31; */
    background: linear-gradient(90deg, #00E5FF, #8A2BE2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subtitle {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.DSR-butt {
    display: flex;
    justify-content: center;
}
.date {
    font-family:sans-serif;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #609dff;
    background: rgba(255,255,255,0.1);
    color: white;
    cursor: pointer;
}

.p1 {
    color: rgb(164, 185, 185);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Find {
    background: linear-gradient(45deg, #2563eb, #06b6d4);
    color: white;
    font-family: serif;
}
.Search_bar {
    font-family: serif;
    font-size: 15px;
}
.Search {
    background: linear-gradient(
    135deg,
    #611ed4,
    #9742e7
);
    color: white;
    font-family: serif;
    font-weight: 700;
}

form {
    margin-bottom: 10px;
    height: 60px;
}

.random_button {
    background: linear-gradient(135deg, #cc7307, #ffd200);
    color:rgb(49, 49, 49);
    font-weight: 600;
    font-family: serif;
}
.random_button:hover{
    transform: scale(1.08);
    transition: 0.3s;
    cursor: pointer;
}

.container {
    
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.pic_name {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
    color:rgb(196, 195, 195);
}


img {
    width: 60%;
    
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

iframe {
    max-width: 100%;
    border-radius: 12px;
}

.b1 {
    background: linear-gradient(45deg, #1f315c, #3b82f6, #8b5cf6);
    color: white;
    border: none;
    font-family: serif;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
}

/* .description {
    margin-top: 25px;
    line-height: 1.8;
    font-size: 18px;
} */

.p2 {
    font-family:'Lora', serif;
    font-size: 20px;
    color:#cbd5e1;
    text-shadow: 0 0 8px rgba(59,130,246,0.3);
}



input {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    transform: scale(1.05);
}

/* .fav {
    display: flex;
    justify-content: center;
    
} */
.fav {
    display: flex;
    justify-content: space-evenly;
}
.add-fav {
    background: linear-gradient(135deg, #ec4899, #8b5cf6);
    color: white;
    font-family: serif;
    font-weight: 700;
    border-radius: 10px;
}

.my-fav {
    background: linear-gradient(135deg, #969696, #f6f45c);
    color: rgb(63, 63, 63);
    font-family: serif;
    font-weight: 700;
    border-radius: 10px;
}

.fact-box{
    width: 80%;
    margin: 25px auto;
    padding: 15px;
    border-radius: 15px;
    background: rgba(199, 8, 8, 0.048);
    backdrop-filter: blur(10px);
    color: rgb(212, 212, 212);
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
}

.fact-box h3{
    color: #ffac11;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:25px
}

.fact-box p {
    font-family:'Lora', serif;
    font-size: 20px;
    color:#cbd5e1;
    text-shadow: 0 0 8px rgba(59,130,246,0.3);
}

.jwst-butt {
    background: linear-gradient(45deg, #14213f, #21498a, #6b5cf7);
    color: white;
    font-family: serif;
    font-weight: 700;
    border-radius: 10px;
}