{% extends "base.html" %}


{% block content %}
<div class="main-content">
    <div class="main1">

        <p class="pic-name">{{ title }}</p>

        <div class="p">

            <div class="p1">
                <i class="fa-regular fa-calendar"></i>
                {{ date }}
            </div>


            <form action="/favorite" method="POST">

                <input type="hidden" name="title" value="{{ title }}">
                <input type="hidden" name="date" value="{{ date }}">
                <input type="hidden" name="image_url" value="{{ image_url }}">
                <input type="hidden" name="explanation" value="{{ explanation }}">
                <input type="hidden" name="media_type" value="{{ media_type }}">

                <button type="submit" class="add-fav-main">

                    Add to Favorites

                    <i class="fa-solid fa-heart"
                        style="color: rgb(255, 0, 0); margin-right: 7px;">
                    </i>

                </button>

            </form>

        </div>

        <p class="p2">
            {{ explanation[:350] }}...
        </p>

    </div>


    {% if media_type == "image" %}

        <img src="{{ image_url }}"
            alt="NASA Image"
            id="media">

    {% else %}

        <iframe
            src="{{ image_url }}"
            frameborder="0"
            allowfullscreen>
        </iframe>

        </div>

    {% endif %}

{% endblock %}