{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet"href="{{ url_for('static', filename='jwst.css') }}">
{% endblock %}

{% block content %}

<div class="main-glry">

    <h1>
        <i class="fa-solid fa-crosshairs" style="color: rgb(47, 162, 255);"></i>
        Telescope gallery
    </h1>

    <div class="grid-glry">

        {% for item in images %}

        <div class="card">
            <h3>{{ item.title }}</h3>
            <img src="{{ item.image }}">
        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}

{% block lower_buttons %}
{% endblock %}

{% block fact %}
{% endblock %}